<div class="card-widget card-music">
  <div class="card-content">
    <div class="item-headline">
      <i class="fas fa-music"></i>
      <span>音乐欣赏</span>
    </div>
    <div id="aplayer"></div>
  </div>
</div>